<%- include("partials/header"); -%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label for="">Title</label>
        <input type="title" name="postTitle" class="form-control">
        <label for="">Post</label> 
        <textarea type="post" rows = "5" cols = "30" name = "postBody" class="form-control"></textarea>
    </div>
        <button type="submit" name="button" class="btn btn-primary">Publish</button>
       
</form>

<%- include("partials/footer"); -%>